<!--Admin Profile-->
<div v-if="logged">
    <div v-f="role=='Admin'">
        <h1>Welcome {{name}}</h1>
        <table>
            <tr> 
                <td>  </td>
            </tr>
        </table>
    </div>
    </div>

<table>
    <tr v-for="c in camps">
        <td>{{c[0]}}</td>
        <td>{{c[1]}}</td>
    </tr>
</table>


<table class='table-primary table-bordered'>
    <caption class="caption">Campaingn</caption>
    <tr>
        <th scope="col">C_id</th>
        <th scope="col">email</th>
        <th scope="col">title</th>
        <th scope="col">Message</th>
        <th scope="col">S_date</th>
        <th scope="col">E_date</th>
        <th scope="col">Budget</th>
        <th scope="col">Niche</th>
        <th scope="col">Flag</th>
        </tr>
        <tr v-for="c in camp_info"> 
            <td scope="row">{{c[0]}}</td>
            <td >{{c[1]}}</td>
            <td >{{c[2]}}</td>
            <td>{{c[3]}}</td>
            <td >{{c[4]}}</td>
            <td >{{c[5]}}</td>
            <td>{{c[6]}}</td>
            <td>{{c[7]}}</td>
            <td >{{c[8]}}</td>
        </tr>
</table>


<table>
    <tr>
        <th>Select your Influencer</th>
        <th>Title of the advertisment</th>
        <th>Message to the Influencer</th>
        <th>Name your Price</th>
    </tr>
    <tr>
        <td>
            <select v-model="this.inf_lst" class="form-control" text="Influencer"  >
                <option v-for="val in this.inf_lst">{val.name}</option>
              </select>
        </td>
        <td> <input type="text" placeholder='Enter your title' v-model='new_ad.title' required> </td>
        <td> <input type="text" placeholder='Enter your Message' v-model='new_ad.message' required> </td>
        <td> <input type="text" placeholder='Name your price' v-model='new_ad.Negotiated' required> </td>

    </tr>
</table>

<table>
    <tr>
        <th>Influencer</th>
        <th>Title</th>
        <th>Message</th>
        <th>Negotiated pay</th>
        <th>              </th>
    </tr>
    <tr v-for="ad in ads">
        <td> {{ad.I_email}}</td>
        <td> {{ad.Title}} </td>
        <td> {{ad.Message}} </td>
        <td> {{ad.Negotiated}}  </td>
    </tr>
</table>